
#rentalListing{
    .title{
    font-size:38px;
    font-weight:700;
    margin-bottom:28px;
    }

.bwm-card{
    border:none;
    .card-block{
    padding-top:8px;
    
    .card-subtitle{
    margin:0;
    font-size:10px;
    font-weight:700;
    text-transform:uppercase;
    color:#077736;
    }
    .card-title
    {
    font-size:18px;
    margin:3px 0;
    }
    .card-text{
    font-size:14px;
    font-weight:300;
    color:#7e7e7e;
    margin-bottom:0;
    }
}
}
}